* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  padding: 0px 40px;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  position: relative;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 100%;
  max-width: 900px;
}
nav {
  padding: 1.2rem 1.4rem;
  border: 4px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scoreWrapper {
  background: #fff;
  border-radius: 6px;
  padding: 0.3rem 3.2rem;
}
.scoreWrapper p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
  color: hsl(229, 64%, 46%);
}
.scoreWrapper .score {
  font-size: 4rem;
  font-weight: 500;
  margin-top: -10px;
  text-align: center;
  color: hsl(229, 25%, 31%);
}

.gameBoard {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}
.shapeWrapper {
  position: relative;
}

.pentagon-shape {
  width: 350px;
}
.logoWrapper {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 6px 0px rgb(208, 104, 7);
  padding: 17px 20px;
  position: absolute;
  cursor: pointer;
  top: -60px;
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
}
.icon-scissors {
  box-shadow: 0px -6px 1px hsl(217, 69%, 90%);
  background: #ffffff;
  border-radius: 50%;
  padding: 20px 28px;
  margin-top: 5px;
  width: 100%;
}
/* Spock-wrapper */
.spockWrapper {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 6px 0px rgb(39, 149, 177);
  padding: 17px 20px;
  position: absolute;
  cursor: pointer;
  top: 60px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
}
.icon-spock {
  box-shadow: 0px -6px 1px hsl(217, 69%, 90%);
  background: #ffffff;
  border-radius: 50%;
  padding: 18px 30px;
  margin-top: 5px;
  width: 100%;
}
/* paper wrapper */
.paperWrapper {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 6px 0px rgb(67, 67, 202);
  padding: 17px 20px;
  position: absolute;
  cursor: pointer;
  top: 60px;
  right: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
}
.icon-paper {
  box-shadow: 0px -6px 1px hsl(217, 69%, 90%);
  background: #ffffff;
  border-radius: 50%;
  padding: 20px 30px;
  margin-top: 5px;
  width: 100%;
}
/* lizardWrapper wrapper */
.lizardWrapper {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 6px 0px hsl(261, 56%, 44%);
  padding: 16px 23px;
  position: absolute;
  cursor: pointer;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
}
.icon-lizard {
  box-shadow: 0px -6px 1px hsl(217, 69%, 90%);
  background: #ffffff;
  border-radius: 50%;
  padding: 20px 25px;
  margin-top: 5px;
  width: 100%;
}
/* rockWrapper wrapper */
.rockWrapper {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 6px 0px rgb(145, 39, 39);
  padding: 15px 18px;
  position: absolute;
  cursor: pointer;
  bottom: -40px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 108px;
  height: 110px;
}
.icon-rock {
  box-shadow: 0px -6px 1px hsl(217, 69%, 90%);
  background: #ffffff;
  border-radius: 50%;
  padding: 25px 32px;
  margin-top: 5px;
  width: 100%;
}

/* wrapper */
.wrapper {
  color: #fff;
  width: 100%;
  max-width: 1100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.wrapper p {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 50px;
}
.playerChoice {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 7px 0px forestgreen;
}
.playerChoice .playerChoiceIcon {
  width: 90px;
  height: 90px;
  background: fuchsia;
  border-radius: 50%;
  box-shadow: 0px -6px 0px red;
  padding: 30px 40px;
  margin-top: 6px;
}
/*  */
.computerChoice {
  border-radius: 50%;
  background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 7px 0px forestgreen;
  animation-name: scale;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  position: relative;
}
@keyframes scale {
  0% {
    top: 200px;
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.1;
    transform: rotate(15deg);
  }
  50% {
    opacity: 0.2;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0.4;
    transform: rotate(70deg);
  }
  100% {
    opacity: 1;
    top: -10px;
    transform: rotate(100deg);
  }
}
.computerChoice .computerChoiceIcon {
  width: 90px;
  height: 90px;
  background: fuchsia;
  border-radius: 50%;
  box-shadow: 0px -6px 0px red;
  padding: 30px 40px;
  margin-top: 6px;
}
.status {
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}
.playAgainButton {
  border: none;
  border-radius: 6px;
  padding: 15px;
  margin: 15px 0px;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: #fff;
  cursor: pointer;
}

/*  */
.scissors {
  background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 10px 0px rgb(208, 104, 7);
}
.scissors img {
  background: #ffff !important;
  box-shadow: 0px -10px 1px hsl(217, 69%, 90%) !important;
}
/*  */
.paper {
  background: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 10px 0px rgb(67, 67, 202);
}
.paper img {
  background-color: #fff !important;
  box-shadow: 0px -10px 0px hsl(217, 69%, 90%) !important;
}
.rock {
  background: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 10px 0px rgb(145, 39, 39);
}
.rock img {
  background-color: #fff !important;
  box-shadow: 0px -10px 0px hsl(217, 69%, 90%) !important;
}

.spock {
  background: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 10px 0px rgb(39, 149, 177);
}
.spock img {
  background-color: #fff !important;
  box-shadow: 0px -10px 0px hsl(217, 69%, 90%) !important;
}

.lizard {
  background: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 10px 0px hsl(261, 56%, 44%);
}
.lizard img {
  background-color: #fff !important;
  box-shadow: 0px -10px 0px hsl(217, 69%, 90%) !important;
}

/* Game Rules */
.rulesWrapper {
  background-color: #fff;
  box-shadow: 0px 20px 200px rgb(90, 91, 92);
  height: 400px;
  border-radius: 8px;
  padding: 25px 30px 30px 30px;
  margin: auto;
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-delay: 0s;
}
@keyframes slide {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(100px);
  }
}
.rulesWrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
header h1 {
  color: hsl(229, 25%, 31%);
  font-weight: 800;
  font-size: 1.7rem;
}
.rulesWrapper .closeIcon {
  width: 30px;
  cursor: pointer;
  user-select: none;
}
/* Rules-Btn-Wrapper */
.rulesBtnWrapper {
  display: flex;
  justify-content: end;
  margin-top: 12%;
}
/* Rules Button */
.rulesBtn {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 11px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 140px;
}
